<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" /> <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CiviCall"
        tools:targetApi="31">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".Calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".Forum.CommentEdit"
            android:exported="false" />
        <activity
            android:name=".Trial"
            android:exported="true" />
        <activity
            android:name=".Forum.ForumUpdate"
            android:exported="false" />
        <activity
            android:name=".Forum.ForumComment"
            android:exported="false" />
        <activity
            android:name=".Forum.ForumUpload"
            android:exported="false" />
        <activity
            android:name=".Forum.ForumFragment"
            android:exported="false" />
        <activity
            android:name=".Recognition.RecognitionLeaderBoard"
            android:exported="true" />
        <activity
            android:name=".Notification.NotificationOne"
            android:exported="true" />
        <activity
            android:name=".Notification.Notifications"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".CalendarView.CalendarEvents" -->
        <!-- android:exported="true" /> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.civicall.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".ReportProblem"
            android:exported="true" />
        <activity
            android:name=".TechnicalIssueReportProblems"
            android:exported="true" />
        <activity
            android:name=".Reportproblems"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.TenSustainableGoals"
            android:exported="true" />
        <activity
            android:name=".StartSplash3"
            android:exported="false" />
        <activity
            android:name=".StartSplash2"
            android:exported="false" />
        <activity
            android:name=".StartSplash"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditions"
            android:exported="true" />
        <activity
            android:name=".PrivacyAndPolicies"
            android:exported="true" />
        <activity
            android:name=".AccountVerification.UploadVerificationFile"
            android:exported="true" />
        <activity
            android:name=".ChangePassword"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.SevenPrograms"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.TwoAdmission"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.FiveEmbraceSustainability"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.NineSustainability"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.ThreeAboutTheCampuses"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.EightStudentDevelopment"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.OneAdministration"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.ZeroAboutTheUniversity"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.FourStudentInitiatives"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.SixProperManagement"
            android:exported="true" />
        <activity
            android:name=".CampusGovernanceInfo.CampusGovernanceMenu"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.TwoEffectiveCampaign"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.OneHealingtheEnvironment"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.EightSocioEconomicandHealth"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.ThreeGenderHealthDisparities"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.FourHealthcareTechnology"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.NineImpactofHealthAwareness"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.ZeroGrassRootsEffort"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.FiveMentalHealthMatters"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.SevenNutritionEducation"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.SixHealthisWealth"
            android:exported="true" />
        <activity
            android:name=".PublicHealtAwarenessInfo.HealthAwarenessMenu"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.FourGenderEquality"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.OneSocialDisparities"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.EightMentalHealthAwareness"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.SixIslandInequality"
            android:exported="true" />
        <activity
            android:name=".ProfileDetails"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" /> <!-- Posting Civic Engagement Start -->
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.ZeroBreaktheChain"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.NineCleanWater"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.ThreeGreenTreasure"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.TwoPollution"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.FiveConservingBiodiversity"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.SevenRisingAwareness"
            android:exported="true" />
        <activity
            android:name=".EnvironmentalandSocialIssueInfo.EnvironmentalAndSocialIssuesMenu"
            android:exported="true" /> <!-- Civic rights -->
        <activity
            android:name=".CivicRightsAndResponsibility.TenConstitutionPhilippines"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.NineGlobalCitizen"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.EightCivicResponsibility"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.SevenTimeofCrisis"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.SixEmpoweringYou"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.FiveDigitalAge"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.FourLegality"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.ThreeEnvironmentalResponsibility"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.TwoRighttoExpress"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.OneCivicRights"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.ZeroDemystifyingCivicRights"
            android:exported="true" />
        <activity
            android:name=".CivicRightsAndResponsibility.CivicRightsAndResponsibilityMenu"
            android:exported="true" /> <!-- Civic rights end -->
        <!-- Survival Tips start here -->
        <activity
            android:name=".SurvivalTipsInfo.SixNavigatingMountain"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.SurvivalMenu"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementPost.Upload_engagement"
            android:exported="true" /> <!-- Posting Civic Engagement End -->
        <!-- Educational Start -->
        <!-- Civic Engagement Start -->
        <activity
            android:name=".SurvivalTipsInfo.NineCoastalSurvival"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.EightSurvivalPsychology"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.SevenIslandSurvival"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.FiveJungle"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.FourElNino"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.ThreeTyphoon"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.TwoTsunami"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.OneVolcanicEruption"
            android:exported="true" />
        <activity
            android:name=".SurvivalTipsInfo.ZeroSurvivingEarthquakes"
            android:exported="true" /> <!-- Survival Tips  End -->
        <activity
            android:name=".CivicEngagementPost.Update_engagement"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementPost.DetailPost"
            android:exported="true" /> <!-- Posting Civic Engagement End -->
        <!-- Educational Start -->
        <!-- Civic Engagement Start -->
        <activity
            android:name=".CivicEngagementInfo.ZeroCivicLeadership"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.OneTechnologyforCivic"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.TwoGlobalAdvancement"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.ThreeEffectiveAdvocacy"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.FourSocialJustice"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.FiveMakeYourVoiceHeard"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.SixStudentLeadership"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.CivicMenu"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.SevenCivicAdvocacy"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.EightDigitalCivic"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.NineCampusInitiative"
            android:exported="true" /> <!-- Civic Engagement End -->
        <!-- Civic Engagement End -->
        <!-- Disaster Response Start -->
        <activity
            android:name=".DisasterResponseInfo.FiveCommunicationAndInformationInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.ZeroEmergencyPreparednessInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.DisasterResponseMenu"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.TwoFireSafetyInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.OneFirstAidInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.SixFoodDistributionAndNutrionInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.ThreeNaturalDisasterInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.SevenPsychologicalSupportServicesInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.NineRecoveryandRebuildingEffortsInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.FourSearchAndRescueinfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.EightVolunteerandDonationsManagementInfo"
            android:exported="true" /> <!-- Disaster Response End -->
        <!-- Educational End -->
        <!-- Emergency Contact Start -->
        <activity
            android:name=".EmergencyCon.MainEmergencyContact"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.SanJuanCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.RosarioCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.PabloBorbon2Cont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.PabloBorbon1Cont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.NasugbuCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.MalvarCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.MabiniCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.LoboCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.LipaCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.LemeryCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.BalayanCont"
            android:exported="true" /> <!-- Emergency Contact End -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.settings.APP_NOTIFICATION_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="package" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Feedback"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CivicEngagements"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register1"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>