<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Require telephony hardware only on devices that can make calls -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.New"
        tools:targetApi="31">

        <activity
            android:name=".DisasterPreparedness.MainDisaster"
            android:exported="false" />
        <activity
            android:name=".EmergencyCon.MainEmergencyContact"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.SanJuanCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.RosarioCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.PabloBorbon2Cont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.PabloBorbon1Cont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.NasugbuCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.MalvarCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.MabiniCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.LoboCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.LipaCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.LemeryCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmergencyCon.BalayanCont"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" /> <!-- Emergency Contact End -->
        <activity
            android:name=".Add_activities2"
            android:exported="true" />
        <activity
            android:name=".add_engagement"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Feedback"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Civicengagement"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Eventcalendar"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Accountverification"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Myprofile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myprofile1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lolo"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rewardforms"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register1"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>