<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Feature requirement for camera -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CiviCall"
        tools:targetApi="31">
        <!-- Posting Civic Engagement Start -->
        <activity
            android:name=".CivicEngagementPost.Update_engagement"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementPost.DetailPost"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementPost.Upload_engagement"
            android:exported="true" />
        <!-- Posting Civic Engagement End -->
        <!-- Educational Start -->
        <!-- Civic Engagement Start -->
        <activity
            android:name=".CivicEngagementInfo.Advocacy"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.Civic"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.DigitalAgeCivic"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.GettingStarted"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.LastingImpact"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.navigatingtips"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.ParticipantTips"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.Roadmap"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.Strategies"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.TacticsImpact"
            android:exported="true" />
        <activity
            android:name=".CivicEngagementInfo.YouthEmpowerment"
            android:exported="true" />
        <!--  Civic Engagement End -->
        <!-- Disaster Response Start -->
        <activity
            android:name=".DisasterResponseInfo.CommunicationAndInformationInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.DisasterResponseMenu"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.FireSafetyInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.FirstAidInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.FoodDistributionAndNutrionInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.NaturalDisasterInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.PsychologicalSupportServicesInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.RecoveryandRebuildingEffortsInfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.SearchAndRescueinfo"
            android:exported="true" />
        <activity
            android:name=".DisasterResponseInfo.VolunteerandDonationsManagementInfo"
            android:exported="true" />

        <!-- Disaster Response End -->
        <!-- Educational End -->
        <!-- Emergency Contact Start -->
        <activity
            android:name=".EmergencyCon.MainEmergencyContact"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.SanJuanCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.RosarioCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.PabloBorbon2Cont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.PabloBorbon1Cont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.NasugbuCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.MalvarCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.MabiniCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.LoboCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.LipaCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.LemeryCont"
            android:exported="true" />
        <activity
            android:name=".EmergencyCon.BalayanCont"
            android:exported="true" /> <!-- Emergency Contact End -->
        <activity
            android:name=".Add_activities2"
            android:exported="true" />
        <activity
            android:name=".add_engagement"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".ForgotPass2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Feedback"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Civicengagement"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Eventcalendar"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Accountverification"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Myprofile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myprofile1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lolo"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rewardforms"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register1"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>




